.content {
  overflow-y: scroll;
  margin-left: 20px;
  padding: 16px 48px;
  width: 1200px;
  overflow: hidden;

  .matches {
    padding-left: 0;

    li {
      font-size: 0.8em;
      padding: 10px 8px;
      min-width: 400px;
    }
  }
}

.survey-details span {
  width: 25%;
}
