<div class="container-fluid">
  <div class="row w-100 my-5">
    <app-navbar></app-navbar>
  </div>

  <div class="row my-5">
    <div class="layout-row">
      <section class="layout-column sidebar">
        <filters
          [filterType]="jobMode"
          [filterValues]="jobModes"
          [selectedFilter]="selectedFilterMode"
          (onFilterSelected)="onFilterSelected($event, 'jobMode')"
        ></filters>
        <filters
          [filterType]="jobType"
          [filterValues]="jobTypes"
          [selectedFilter]="selectedFilterType"
          (onFilterSelected)="onFilterSelected($event, 'jobType')"
        ></filters>
      </section>

      <users-list
        [usersList]="filteredList"
        [designations]="designations"
        [jobModes]="jobModes"
        [jobTypes]="jobTypes"
        (submitDeleteUser)="submitDeleteUser($event)"
        (submitEditUser)="submitEditUser($event)"
      ></users-list>
    </div>
  </div>
</div>
