/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "/src/themes/variables";

@font-face {
    font-family: "GothamBold";
    src: url("assets/fonts/Gotham-Bold.otf") format("truetype");
  }
  
  @font-face {
    font-family: "Opensans";
    src: url("assets/fonts/OpenSans-Regular.ttf") format("truetype");
  }
  
  /* You can add global styles to this file, and also import other style files */
  
  html,
  body {
    height: 100%;
  }
  
  body {
    margin: 0;
    background-color: $backgroundLight;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  
  /** mixin block start **/
  
  // opacity level adjust dynamic
  @mixin opacity-level($level) {
    opacity: #{$level};
  }